h2{background-color: rgba(137, 43, 226, 0.599);}
/*This is how you style your webpage using external CSS*/
p{background-color: burlywood;}
#m6{color:darkgreen;}
.c4{font-weight: bold;}
h1,h3{font-style: italic;color: green;}
*{background-color: darkkhaki;}